name: Cache Workflow

on:
  push:
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache/my-cache
          key: cache-98f36df

      - name: prime-cache-98f36df
        run: echo "Cache hit: ${{ steps.cache-step.outputs.cache-hit }}"
