name: Cache Workflow

on:
  push:
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/cache-98f36df
          key: cache-98f36df

      - name: prime-cache-98f36df
        run: |
          echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
