name: Test Action

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 23f2005561@ds.study.iitm.ac.in
        run: echo "Hello, world!"

      - name: Done
        run: echo "Workflow completed"
